<!DOCTYPE html>

<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Oware</title>
  <link rel="stylesheet" href="{% static 'game/css/owareGame.css' %}">
</head>

<body>
  <div id="pageWrap">
    <div id="HomepageBanner" class="container-flex">
      <h1 id="HomepageBannerText">Oware</h1>
    </div>
    <div id="WinnerAnnouncement" class="container-flex hidden"></div>
    <div id="MoveAnnouncement" class="container-flex">
      <ul>
        <li><p id="HumanMove"></p></li>
        <li><p id="ComputerMove"></p></li>
      </ul>
    </div>
    <div id="ComputerCups" class="container-flex hidden disabled"></div>
    <div id="HumanCups" class="container-flex hidden"></div>
    <div id="PlayerChoice" class="container-flex">
      <button id="first" class="button">First Player</button>
      <button id="second" class="button">Second Player</button>
      <button id="instructions" class="button">Game Instructions</button>
    </div>
    <div id="instructionContainer" class="container-flex hidden">
      <pre>This is a version of mancala, the interface presents two rows of
      buttons representing cups with stones in them. The number on each button
      indicates the number of stones in the cup. The leftmost cup on the top
      row and the rightmost cup on the bottom row are goal cups for their
      respective sides. The top row is the computer's
      cups and the second row is the player's. On each turn a cup is chosen
      and the stones are dispersed one at a time counterclockwise. If the
      opponent's goal cup is reached it is skipped. If the last stone placed
      lands in an empty cup belonging to the current player, then the stones in
      the cup directly across are "captured" and placed in the current player's
      goal cup (for example: last stone lands in cup 2, captures enemy cup 5).
      Play proceeds until one side has acquired the majority of the stones in
      their goal cup (19), or until one side runs out of stones. If one player
      runs out of stones then the opponent "captures" all remaining stones.</pre>
    </div>
  </div>
</body>

<script src="{% static 'game/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'game/js/owareGame.js' %}"></script>
</html>
