<!DOCTYPE html>

<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Oware</title>
  <link rel="stylesheet" href="{% static 'game/css/owareGame.css' %}">
</head>

<body>
  <div id="pageWrap">
    <div id="HomepageBanner" class="container-flex">
      <h1 id="HomepageBannerText">Oware</h1>
    </div>
    <div id="MoveAnnouncement" class="container-flex">
      <ul>
        <li><p id="HumanMove"></p></li>
        <li><p id="ComputerMove"></p></li>
      </ul>
    </div>
    <div id="ComputerCups" class="container-flex hidden disabled"></div>
    <div id="HumanCups" class="container-flex hidden"></div>
    <div id="PlayerChoice" class="container-flex">
      <button id="first" class="button">First Player</button>
      <button id="second" class="button">Second Player</button>
    </div>
  </div>
</body>

<script src="{% static 'game/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'game/js/owareGame.js' %}"></script>
</html>
